.clearfix::after 
{
    content: "";
    clear: both;
    display: table;
}
/* ---------------------- header --------------------- */
div, ul, li, p, h1, h2, h3, h4, a
{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body
{
    font-family: 'Commissioner';
    font-size: 15px; 
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.am_header_mob {

    display: none;

}

.am_mob__actions {

    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%

}

.am_header__callback a,
.am_contacts__info_callback a {

    padding: 10px 23px;
    background: linear-gradient(180deg, #0D98FD 0%, #25B419 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.am_header__callback a:hover {

    background: #25B419;

}

.am_header__photo {

    height: 500px;
    background: url(/img/header_photo.png) no-repeat left;
    background-position: 50px 50px !important;
}

.am_header__topline {

    margin-bottom: 100px;

}

.am_header__topline_info {

    display: flex;
    justify-content: space-between;

}

.am_logo {

    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.am_topline__socs {

    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.am_topline__socs_item,
.am_contacts__socs_item {

    margin-right: 25px;

}

.am_topline__socs .am_topline__socs_item:nth-child(2) a,
.am_contacts__socs .am_contacts__socs_item:nth-child(2) a {

    position: relative;
    
}

.am_topline__socs .am_topline__socs_item:nth-child(2) a svg,
.am_contacts__socs .am_contacts__socs_item:nth-child(2) a svg {

    position: absolute;
    left: 3px;

}

.am_topline__socs_item:last-child,
.am_contacts__socs_item:last-child {

    margin-right: 0;

}

.am_topline__socs_item a,
.am_contacts__socs_item a {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #0D98FD;
    transition: all 0.3s;

}

.am_top_line__socs_item a svg path
.am_contacts__socs_item a {

    fill: #0D98FD;
    fill-opacity: 1;
    transition: all 0.3s;
  
  }

.am_topline__socs_item a:hover,
.am_contacts__socs_item a:hover {

    background: #0D98FD;
    transition: all 0.3s;
    border: none;

}

.am_topline__socs_item a:hover svg path,
.am_contacts__socs_item a:hover svg path {

    fill: #fff;
    transition: all 0.3s;
  
}

.am_header__phone {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;

}

.am_header__phone span {

    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: #5E5E5E;
    margin-bottom: 10px;
    display: block;

}

.am_header__nav {

    background: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    padding: 10px 60px;

}

.am_header__nav ul {

    display: flex;
    list-style-type: none;

}

.am_header__nav ul li {

    margin-right: 50px;   

}

.am_header__nav ul li a {

    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0D98FD;
    text-decoration: none;
    display: block;
    padding: 7px 30px;
    border-radius: 40px;
    transition: all 0.3s ease;

}

.am_header__nav ul li a:hover {

    background: #0D98FD;
    color: #fff;
    /* padding: 10px 30px; */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 20px;
    transition: all 0.3s ease;

}

#mobile_menu,
.am_callback__form {

    display: none;

}

#mobile_menu {

    position: absolute;
    background: #fff;
    min-width: 20%;
    height: 100vh;
    left: 0;
}

/* ------------------- / Header End --------------------- */

.am_works {

    margin-top: -70px;

}

.am_works__items {

    position: relative;

}

.slick-initialized .slick-slide {

    display: flex;

}


.slick-prev {

    top: 200px;
    left: 50px;
    z-index: 100;

}

.slick-prev, .slick-next {

    position: absolute;
    color: #1F21228C;

}

.center_mod {

    text-align: center;

}

.am_works_item__center {

    display: flex;
    justify-content: center;

}

.am_works__title {

    text-align: center;
    margin-bottom: 50px;

}

.am_works__title span {

    font-family: 'Caveat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0D98FD;

}

.am_works__item {

    width: 350px;
    height: 230px;
    border-radius: 30px;
    margin-bottom: 60px;
    transition: all 0.3s ease;

}

.am_works__item:hover {

    filter: drop-shadow(0px 4px 10px rgba(13, 152, 253, 0.7));
    transition: all 0.3s ease;

}

.am_works_item__layer a:focus,
.am_works_item__layer a:active {

    border: none;
    outline: none;

}

.am_works__info {

    padding: 30px;
    background: rgba(250, 255, 29, 0.19);
    border: 1px dashed rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    margin-bottom: 100px;
    display: inline-block;

}

.am_works__info h1 {

    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: rgba(0, 0, 0, 0.63);

}

/* ------------ Услуги ------------ */

.am_services__wave,
.am_contacts__wave {

    background: url(/img/block_2_start_wave.png) no-repeat center center / cover;
    height: 250px;

}

.am_services__layer,
.am_contacts__layer {

    background: #0D98FD;
    min-height: 500px;
    margin-top: -3px;
    padding-bottom: 270px

}

.am_services__title h2,
.am_advant__title h2,
.am_contacts__title h2 {

    font-family: 'Caveat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    transform: matrix(0.98, -0.21, 0.14, 0.99, 0, 0);
    text-align: center;
}

.am_services_items {

    margin-top: 150px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.am_services__list_item {

    display: flex;
    align-items: center;
    margin-bottom: 60px;

}

.am_services__list_item:nth-child(2) h3 {

    background: #FEFFCB;

}

.am_services__list_item:last-child h3 {

    background: #FFE6E6;

}

.am_services__list_img img {

    max-width: 80%;

}

.am_img__right {

    text-align: right;

}

.am_services__list_title {

    margin-bottom: 30px;

}

.am_services__list_title h3 {

    font-family: 'Caveat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 10px 60px;
    background: rgba(182, 250, 255, 0.99);
    border-radius: 20px;
    color: #0D98FD;
    text-align: center;

}

.am_services__list_text ul {

    text-align: right;

}

.am_list__left {

    text-align: left !important;


}

.am_list__left li {

    margin-left: 35px;
    margin-right: 0 !important;

}

.am_services__list_text ul li {

    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
    list-style-type: none;
    position: relative;
    margin-right: 35px;

}

.am_services__list_text ul li:after {
    
    display: block;
    content: '';
    background-image: url(../img/check.svg);
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 0;
    right: -35px;

}

.am_services__list_item:nth-child(2) .am_services__list_text ul li:after {

    background-image: none;

}

.am_services__list_text ul li:before {
    
    display: block;
    content: '';
    background-image: url(../img/check.svg);
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 0;
    left: -35px;

}

.am_services__list_item:first-child .am_services__list_text ul li:before,
.am_services__list_item:last-child .am_services__list_text ul li:before {
    
    background-image: none;

}

/* Блок 3 - "Преимущества" */

.am_advant {

    background: #fff;
    margin-top: -150px;

}

.am_advant__layer {

    background: url(/img/block_3_bg.png) no-repeat center center / cover;
   
}

.am_advant__end_wave {

    background: url(/img/block_2_end_wave.png) no-repeat center center / cover;
    height: 250px;

}

.am_advant__title h2 {

    color: #0D98FD;

}

.am_advant__items_group {

    background: url(/img/block_3_photo.png) no-repeat top 70px center;
    
}

.am_advant_items {

    display: flex;
    justify-content: space-between;
    height: 500px;

}

.am_advant__item {

    min-width: 375px;

}

.am_advant__item_desc {

    max-width: 375px;

}

.am_advant__item_title {

    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: end;

}

.am_title__right {

    justify-content: start;
    
}

.am_advant__item_title h3 {

    font-family: 'Caveat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #25B419;
    display: block;
    margin-right: 35px;

}

.am_title__left_space h3 {

    margin-right: 0;
    margin-left: 35px;

}

.am_advant__item_desc {

    background: #fff;
    border: 1px dashed #0D98FD;
    border-radius: 10px;
    padding: 35px 20px;

}

.am_advant__item_desc p {

    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.63);
    text-align: center;

}

/* Форма обратной связи */

.am_callback {

    margin-top: -200px;

}

.am_callback form {

    text-align: center;
    font-family: 'El Messiri';
    font-style: normal;

}

.am_callback__fields {

    margin-bottom: 25px;

}

.am_callback__fields input {

    border: none;
    border-bottom: 1px solid #0D98FD;
    transition: all 0.3s;
    outline: none;
    text-align: center;
    width: 170px;
    background: transparent;

}

.am_callback__fields input:hover, 
.am_callback__fields input:focus,
.am_callback__fields input:active {

    transition: all 0.3s;
    border: none;
    width: 180px;
    border-bottom: 1px solid #25B419;
    background: transparent;
}

::-webkit-input-placeholder {color:#5E5E5E; font-family: 'El Messiri'; font-weight: 500;}
::-moz-placeholder          {color:#5E5E5E; font-family: 'El Messiri'; font-weight: 500;}/* Firefox 19+ */
:-moz-placeholder           {color:#5E5E5E; font-family: 'El Messiri'; font-weight: 500;}/* Firefox 18- */
:-ms-input-placeholder      {color:#5E5E5E; font-family: 'El Messiri'; font-weight: 500;}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.am_callback__fields input:first-child {

    margin-right: 30px;

}

.am_callback__info {

    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.am_callback__info span {

    color: #0D98FD;

}

.am_callback__info svg {

    margin-right: 15px;
    margin-top: -6px;

}

.am_callback button,
.am_callback__form_btn button {

    border: none;
    color: #fff;
    background: #0D98FD;
    padding: 10px 23px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 600;
    transition: all 0.3s;

}

.am_callback button:hover,
.am_callback__form_btn button:hover {

    background: #25B419;
    transition: all 0.3s;

}

/* Блок 4 - "Я на связи" - контакты */


.am_contacts__layer_bg {

    background: linear-gradient(180deg, #0D98FD 19.14%, rgba(63, 19, 237, 0.41) 100%);

}

.am_contacts__items {

    margin-top: 150px;
    display: flex;

}

.am_contacts__item_info {

    max-width: 40%;
    margin-left: 155px;

}

.am_contacts__info_text {

    padding: 60px 50px 50px 50px;
    background: url(/img/text_angles.png) no-repeat center center / cover;
    min-height: 259px;
    min-width: 570px;
    box-sizing: border-box;


}

.am_contacts__info_text p {

    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    opacity: 0.8;

}

.am_contacts__info_text p:first-child {

    margin-bottom: 15px;

}

.am_contacts__info_sign {

    margin-right: 60px;

}

.am_contacts__info_sign img {

    max-width: 80%;

}

.am_contacts__info {

    display: flex;
    align-items: center;

}

.am_contacts__info_socs {

    display: flex;

}

.am_contacts__socs_item a {

    border: 1px solid rgba(255, 255, 255, 0.6);

}

.am_contacts__socs_item a:hover {

    background: #fff;
    border: none;

}

.am_contacts__socs_item a:hover svg path {

    fill: #0D98FD;
    fill-opacity: 1;
}

.am_contacts__info_phone {

    margin-top: 30px;
    text-align: center;

}

.am_contacts__info_callback {

    margin-top: 15px;

}

.am_contacts__info_phone span {

    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #fff;

}

.am_callback_btn__bg {

    background: linear-gradient(180deg, #0D98FD 0%, #71D4F3 100%) !important;
    
}

.am_contacts__info_callback a {

    display: inline-flex;

}

.am_contacts__info_callback a:hover {

    background:#25B419 !important;

}

/* Подвал сайта */

.am_footer {

    background: transparent;
    margin-top: -100px;

}

.am_footer__copyright {

    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);

}

.am_footer__copyright span {

    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 5px;
    display: block;

}

.am_footer__nav {

    background: #fff;
    margin-top: 15px;
    padding: 16px 0;

}

.am_footer__nav ul {

    display: flex;
    justify-content: center;

}

.am_footer__nav ul li {
    
    list-style: none;
    margin-right: 65px;

}

.am_footer__nav ul li:last-child {

    margin-right: 0;

}

.am_footer__nav ul li a {

    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0D98FD;
    text-decoration: none;
    transition: all 0.3s;

}

.am_footer__nav ul li a:hover {

    text-decoration: underline;
    transition: all 0.3s;

}

.am_but_up {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.3s;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 110;

}

.am_but_up:hover {

    transition: all 0.3s;
    background: #0D98FD;
    border: 1px solid #fff;

}

.am_but_up:hover svg path {

    stroke: #fff;

}

.am_but_up svg {

    width: 30px;
    height: 30px;

}

/* Форма обратного звонка */

#am_callback__form {

    position: absolute;
    top: 30%;
    padding: 30px 40px;
    z-index: 100;
    background: #fff;
    border-radius: 30px;
    display: none;
    min-width: 355px;
    max-width: 355px;

}

.am_callback__form_logo {

    text-align: center;

}

.am_callback__form_content {

    text-align: center;
    margin-top: 35px;

}

.am_callback__form_field {


    margin-bottom: 25px;

}

.am_callback__form_field input {

    border: none;
    border-bottom: 1px solid #0D98FD;
    transition: all 0.3s;
    outline: none;
    text-align: center;
    width: 170px;
    background: transparent;
    font-size: 15px;

}

.am_callback__personal {

    display: flex;
    margin-bottom: 15px;

}

.am_callback__personal p {

    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 16px;
    color: rgba(94, 94, 94, 0.6);

}

.am_callback__info span {

    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #0D98FD;

}