@media screen and (max-width: 1400px)
{

}

@media screen and (max-width: 1300px)
{

    .am_services_items {

        margin-top: 100px;

    }

    .am_services_item img {

        max-width: 80%;

    }

    .am_services__list_img img {

        max-width: 60%;

    }

    .am_services__list_title h3 {

        font-size: 14px;
        padding: 10px 35px;

    }

    .am_services__list_text ul li {

        font-size: 14.5px;

    }
  
@media screen and (max-width: 1200px)
{

    .am_works__title span {

        font-size: 25px;

    }

    .am_works__info h1 {

        font-size: 25px;

    }

    .am_services_item {

        text-align: left;

    }

    /* Блок 3 - "Преимущества" */

    .am_advant_items {

        margin-top: 90px;

    }

    .am_advant__title {

        margin-top: -100px;

    }

    .am_advant__items_group {

        background: url(/img/block_3_photo.png) no-repeat top 130px center;
    
    }

    /* Блок 4 - "Я на связи" - контакты */

    .am_contacts__item_photos img {

        max-width: 100%;

    }

    .am_contacts__item_info {

        max-width: 60%;

    }    
   
}
@media screen and (max-width: 1100px)
{
   
}
@media screen and (max-width: 992px)
{

    .container_center {

        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .am_header_desc {

        display: none;
        
    }

    .am_header_mob {

        display: block;
        margin-bottom: 30px;

    }

    .am_logo {

        margin-bottom: 30px;

    }

    .am_header__phone {

        margin-top: 0;

    }

    .am_header__callback a {

        width: 65px;
        height: 40px;
        display: flex;

    }

    .am_mobile_menu {

        width: 65px;
        height: 40px;
        border-radius: 30px;
        background: #0D98FD;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .am_mobile_menu svg {

        width: 18px;
        height: 16px;

    }

    .am_works {

        margin-top: 0;

    }

    .am_works__item {

        width: 320px;

    }

    .am_works__info {

        margin-bottom: 0;

    }

    /* Блок 2 - "Мои услуги" */

    .am_services__title h2 {

        font-size: 40px;

    }

    .am_services_items {

        flex-direction: column;

    }

    .am_services_item:first-child {

        margin-bottom: 70px;

    }

    .am_services_item {

        text-align: center;

    }

    .am_services_item img {

        max-width: 70%;

    }

    /* Блок 3 - "Преимущества" */

    .am_advant__layer {

        background: none;
    }

    .am_advant__title h2 {
  
        font-size: 35px;
        
    }

    .am_advant__items_group {

        background: none; 

    }

    .am_advant_items {

        flex-direction: column;
        height: auto;

    }

    .am_advant_items:last-child {

        margin-top: 25px;

    }

    .am_advant__item {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .am_advant__item:first-child {

        margin-bottom: 25px;

    }

    /* Блок 3 - "Форма обратной связи" */

    .am_callback {

        margin-top: 70px;
        padding-bottom: 50px;
    
    }

    /* Блок 4 - "Я на связи" - контакты */

    .am_contacts__layer {

        padding-bottom: 170px;

    }

    .am_contacts__items {

        flex-direction: column;
        align-items: center;
        margin-top: 120px;

    }

    .am_contacts__item_info {

        margin-left: 0;
        max-width: 80%;
      
    }

    .am_contacts__info_text p {

        font-size: 15px;

    }

    .am_footer__copyright span {

        font-size: 14px;

    }    

    .am_contacts__item_photos {

        text-align: center;

    }

    .am_contacts__item_photos img {

        max-width:60%;

    }

    .am_contacts__info_sign {

        max-width: 70%;
    }
   
}
@media screen and (max-width: 768px)
{

    .am_works__info h1 {

        font-size: 20px;
        line-height: 25px;

    }

    .am_contacts__item_info {

        max-width: none;
  
    }

    .am_contacts__item_photos img {

        max-width: 50%;

    }

    .am_footer__nav ul li {

        margin-right: 40px;

    }

    .am_footer__nav ul li a {
   
        font-size: 12px;

    }
   
}

@media screen and (max-width: 700px)
{

    .am_services__list_item {

        flex-direction: column;

    }

    .am_services__list_img {

        margin-bottom: 30px;

    }

    .am_services__list_item:nth-child(2) {

        flex-direction: column-reverse;

    }

    .am_services__list_item:nth-child(2) .am_services__list_img {

        text-align: center;

    }

    .am_contacts__info_text {

        background: none;
        min-height:auto;
        min-width: auto;

    }

    .am_contacts__info_sign {

        display: none;

    }

    .am_contacts__info {
  
        justify-content: center;

    }

}

@media screen and (max-width: 576px)
{
    .am_services_item:first-child {

        display: none;

    }
}
@media screen and (max-width: 470px)
{

    .am_logo img {

        max-width: 80%;

    }

    .am_works__title span {

        font-size: 22px;

    }

    .am_mobile_menu,
    .am_header__callback a {

        width: 60px;
        height: 35px;

    }

    .am_mobile_menu svg {

        width: 14px;
        height: 12px;

    }

    /* Блок 2 - "Мои услуги" */

    .am_services__title h2 {

        font-size: 30px;

    }

    /* Блок 4 "Я на связи" - контакты */

    .am_contacts__info_text {

        padding: 30px 20px;

    }
    
    .am_contacts__info_text p {

        font-size: 14px;

    }

    .am_contacts__info_phone span {
   
        font-size: 15px;

    }

    .am_footer__copyright span {

        font-size: 12px;

    }

    .am_footer__nav ul li a {

        font-size: 10px;

    }
   
}
@media screen and (max-width: 430px)
{

    .am_works__item {

        width: 290px;
        height: 190px;
        border-radius: 25px;

    }

    .am_advant__item {

        min-width: auto;

    }

    .am_advant__title h2 {

        font-size: 28px;

    }

    .am_advant__item_title h3 {

        font-size: 16px;
        margin-right: 0;
        margin-left: 0;
         

    }  

    .am_advant__item_icon {

        text-align: right;
    }

    .am_icon__left {

        text-align: left;

    }
    
    .am_advant__item_icon img {

        max-width: 80%;

    }

    .am_advant__item_desc {

        padding: 15px 8px;

    }
    
    .am_callback__fields input:first-child {

        margin-bottom: 20px;
        margin-right: 0;
    
    }

    .am_callback__fields {

        margin-bottom: 35px;

    }

   /* Блок 4 "Я на связи" - контакты */

   .am_contacts__items {

        margin-top: 75px;

    }

    .am_contacts__info_text p {

        font-size: 13px;

    }

    .am_footer__nav ul {

        flex-direction: column;
        align-items: center;

    }

    .am_footer__nav ul li {

        margin-right: 0;

    }
   
}
@media screen and (max-width: 370px)
{
    .am_works__item {

        width: 270px;
        height: 170px;
        
    }
}
@media screen and (max-width: 350px)
{
    .questions_img 
    {
        min-height: 320px;
    }
    .questions_header p 
    {
        font-size: 10px;
    }
    .slick-prev__mod 
    {
        left: 160px;
    }
    .slick-next__mod 
    {
        right: 160px;
    }
    .partners-dots li button:before 
    {
        top: -260px;
    }
    .contacts_icon 
    {
        left: 130px;
    }

    .am_advant__item_title h3 {

        font-size: 15px;

    }

    .am_advant__item_icon img {

        max-width: 70%;

    }
}
@media screen and (max-width: 320px)
{
    .slick-prev__mod 
    {
        left: 150px;
    }
    .slick-next__mod 
    {
        right: 150px;
    }
    .contacts_icon 
    {
        left: 115px;
    }
    .footer_list__links ul
    {
        margin-left: 20px;
    } 
}